<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('build/semantic-ui.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('build/app.css') }}">
        {% endblock %}
    </head>
    <body>
        <div class="ui container">
            <section>
                {% block body %}{% endblock %}
            </section>
        </div>
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('build/app.js') }}"/>
        {% endblock %}
    </body>
</html>
