<div class="card">
    <div class="image">
        <img src="{{ asset('build/images/fallback-avatar.png') }}">
    </div>
    <div class="content">
        <div class="header">
            {{ contact.firstName }} {{ contact.lastName }}
        </div>
        <div class="meta">
            {#Friends of Veronika#}
        </div>
        <div class="description">
            {#Elliot requested permission to view your contact details#}
        </div>
    </div>
    <div class="extra content">
        <div class="ui two buttons">
            <div class="ui basic blue button"><i class="icon edit"></i>Edit</div>
            <div class="ui basic red button"><i class="icon delete"></i>Delete</div>
        </div>
    </div>
</div>
